*.vim

*.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
*/*/*/.ipynb_checkpoints/*
*/__pychache__/*
*/*/__pychache__/*
*/*/*/__pychache__/*
*/*/*/*/__pychache__/*
*/*/*/.Rhistory

*/*/mlartifacts/*
*/*/mlruns/*


